<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graemedoran.curriestarcolts">

    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_img"
        android:label="@String/curriestarcolts"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CurrieStar.Controllers.AboutActivity" />
        <activity android:name=".CurrieStar.Controllers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CurrieStar.Controllers.SquadActivity" />
        <activity android:name=".CurrieStar.Controllers.ProfileActivity" />
        <activity android:name=".CurrieStar.Controllers.PlayerActivity" />
        <activity android:name=".Opposition.OppControllers.OpponentsActivity" />
        <activity android:name=".Opposition.OppControllers.DetailsActivity"></activity>
    </application>

</manifest>